<!--
  Generated template for the CategorizedMessage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu [content]="content" id="menu1" type="overlay" side="bottom">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item detail-none (click)="changeCategory(CategoryMethod.ByAlarmID)" menuClose="menu1">
        Category By Alarm ID
      </button>
      <button ion-item detail-none (click)="changeCategory(CategoryMethod.ByEquipment)" menuClose="menu1">
        Category By Equipment
      </button>
      <button ion-item detail-none (click)="changeCategory(CategoryMethod.ByAlarmType)" menuClose="menu1">
        Category By Alarm Type
      </button>
      <button ion-item detail-none (click)="authTest()" menuClose="menu1">
        Auth Test
      </button>
      <button ion-item detail-none (click)="insertTestMessages()" menuClose="menu1">
        Insert Test Messages
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle="menu1">
        <ion-icon name="menu"></ion-icon>
      </button>
      <!--</ion-buttons><ion-title>Message</ion-title>-->
    </ion-buttons><ion-title>訊息分類-{{CategoryMethod[category]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #content>
  <ion-list *ngIf="categorizedSummary">
    <message-category *ngFor="let theCategorizedSummary of categorizedSummary"  
    [categoryMethod]="category" [categorizedSummary]="theCategorizedSummary" (itemClicked)="pushPage($event)"></message-category>
  </ion-list>
</ion-content>
