<ion-header>
  <ion-navbar>
    <ion-buttons end>
     <button ion-button (click)="gotoAdd()" >
        新增
      </button>
    </ion-buttons><ion-title>{{alarmtype}}已訂閱清單</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<ion-searchbar
  [(ngModel)]="pattern"
  [showCancelButton]="shouldShowCancel"
  [formControl]="searchControl"
  (keyup)="onSearchInput()">
</ion-searchbar>
<div *ngIf="searching" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>

  <ion-fab right middle>
      <button ion-fab color="danger" mini (click)="cancelConfirm()" ><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right>
      <button ion-fab color="orange1" mini (click)="scrollToTop()" ><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab>
  
  <ion-grid text-center>
  <subscription *ngFor="let subscription of subscriptions" [subscription]="subscription" (editClick)="gotoEdit($event)" ></subscription>
  </ion-grid>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
