<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="done()" >完成
        <!--<ion-icon name="checkmark"></ion-icon>-->
      </button>
      <!--</ion-buttons><ion-title>Message</ion-title>-->
    </ion-buttons><ion-title>其他通知設定</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light"><ion-icon name="mail" color="yellow1" item-start></ion-icon>MAIL<button ion-button item-right (click)="openMenu(1)"><ion-icon name="add"></ion-icon> </button></ion-item-divider>
        <alarmActionSetting *ngFor="let alarmActionSetting of alarmActionSettings |filter:{settingType: 'M'};" [alarmActionSetting]="alarmActionSetting" [accountId]="accountId" (deleteClick)="doDeleteS($event)" ></alarmActionSetting>  
        <alarmAction *ngFor="let alarmAction of alarmActions |filter:{actionType: 1};" [alarmAction]="alarmAction" (deleteClick)="doDelete($event)" ></alarmAction>  
        <alarmAction *ngFor="let alarmAction of alarmActions |filter:{actionType: 2};" [alarmAction]="alarmAction" (deleteClick)="doDelete($event)" ></alarmAction>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light"><img src="assets/img/inxMapp.png" width="30px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MAPP
        <button ion-button item-right (click)="openMenu(2)"><ion-icon name="add"></ion-icon></button></ion-item-divider>
        <alarmActionSetting *ngFor="let alarmActionSetting of alarmActionSettings |filter:{settingType: 'AP'};" [alarmActionSetting]="alarmActionSetting" [accountId]="accountId" (deleteClick)="doDeleteS($event)" ></alarmActionSetting>  
        <alarmActionSetting *ngFor="let alarmActionSetting of alarmActionSettings |filter:{settingType: 'AG'};" [alarmActionSetting]="alarmActionSetting" [accountId]="accountId" (deleteClick)="doDeleteS($event)" ></alarmActionSetting>  
        <alarmActionSetting *ngFor="let alarmActionSetting of alarmActionSettings |filter:{settingType: 'AC'};" [alarmActionSetting]="alarmActionSetting" [accountId]="accountId" (deleteClick)="doDeleteS($event)" ></alarmActionSetting>  
        <alarmAction *ngFor="let alarmAction of alarmActions |filter:{actionType: 3};" [alarmAction]="alarmAction" (deleteClick)="doDelete($event)" ></alarmAction>  
        <alarmAction *ngFor="let alarmAction of alarmActions |filter:{actionType: 4};" [alarmAction]="alarmAction" (deleteClick)="doDelete($event)" ></alarmAction>
        <alarmAction *ngFor="let alarmAction of alarmActions |filter:{actionType: 5};" [alarmAction]="alarmAction" (deleteClick)="doDelete($event)" ></alarmAction>
    </ion-item-group>
  </ion-list>
</ion-content>
