<ion-item-group >
     <ion-item-divider *ngIf="!sameDate">{{showDate}}</ion-item-divider>
      <ion-item-sliding *ngIf="!msg.archived">
        <ion-item (click)="pushMsgDetailPage()" (onLongPress)="deleteMessage()">
        <ion-label>
            <ion-icon *ngIf="!msg.read" name="information-circle" color="red1" ></ion-icon>
            <h2>{{msg.description}}</h2>
            <h3>{{msg.alarmMessage}}</h3>
        </ion-label>
        <ion-badge color="light" item-end>{{msg.occurDT | date: 'shortTime'}}</ion-badge> 
        </ion-item>
        <ion-item-options slide="right" (ionSwipe)="archiveMessage()">
        </ion-item-options>
      </ion-item-sliding>
    <ion-item *ngIf="msg.archived">
        訊息已刪除<button ion-button (click)="restoreMessage()">復原</button>
    </ion-item>
</ion-item-group>
