    <ion-item-sliding *ngIf="!archived">
        <ion-item (click)="pushMsgDetailPage()" (onLongPress)="deleteMessage()">
            <h2>{{msg.description}}</h2>
            <!--<ion-label>{{msg.description}}</ion-label>-->
            <p>{{msg.alarmMessage}}</p>
            <!--<ion-badge item-right>NEW</ion-badge>-->
        <ion-badge color="red2" item-end>{{msg.occurDT | date: getDateFormat()}}</ion-badge> 
        </ion-item>
        <ion-item-options slide="right" (ionSwipe)="archiveMessage()">
        </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="archived">
        訊息已刪除<button ion-button (click)="restoreMessage()">復原</button>
    </ion-item>
