
<ion-menu [content]="content" id="menu-message" type="overlay" side="bottom"  persistent="true">
  
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>選單</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item detail-none (click)="setAllRead()" menuClose="menu-message">
        全部設為已讀
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
  
<ion-header>
  <ion-navbar>  
    <ion-buttons end>
        <button ion-button icon-only menuToggle="menu-message">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>    
    <ion-title>
      訊息
      <ion-icon float-end name="checkmark" (click)="checkAll()" [color]="'red2'" class="title-bar-icon"></ion-icon>
      <ion-icon float-end name="eye" (click)="setCheckedRead()" [color]="checkedMessages.size > 0 ? 'red2' : 'gray1'" class="title-bar-icon"></ion-icon>
      <ion-icon float-end name="trash" (click)="setCheckedArchive()" [color]="checkedMessages.size > 0 ? 'red2' : 'gray1'" class="title-bar-icon" ></ion-icon>
    </ion-title>    
</ion-navbar>
</ion-header>
<ion-content >
  <ion-searchbar
    [(ngModel)]="pattern"
    [showCancelButton]="shouldShowCancel"
    [formControl]="searchControl"
    (ionInput)="onSearchInput()">
  </ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>  
  <!-- <ion-navbar>
    <ion-buttons start="">
      <button color="danger" icon-only="" ion-button="" class="disable-hover bar-button bar-button-default "><span class="button-inner">
        <ion-icon name="search" role="img" class="icon"></ion-icon>
      </span><div class="button-effect"></div></button>
    </ion-buttons>
     <ion-input type="search" placeholder="search.."></ion-input> 
  </ion-navbar> -->

  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
   <ion-fab bottom right>
    <button ion-fab color="orange1" mini (click)="scrollToTop()" ><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab> 

  <ion-list>
    <ng-container *ngFor="let m of messages; let idx = index;">
      <ion-item-divider *ngIf="idx == 0 || !isSameDate(messages[idx - 1].occurDT, m.occurDT)"><div class="date-divider">{{getDateString(m.occurDT)}}</div></ion-item-divider>        
      <message @itemState (itemClicked)="messageClickHandler($event)" 
          (itemSwiped)="messageSwipeHandler($event)"
          (itemChecked)="messageCheckHandler($event)" [msg]="m" [navCtrl]="navCtrl" ></message>
    </ng-container>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">+
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
