<ion-header>
  <ion-navbar>  
    <ion-title>
      訊息
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-searchbar
    [(ngModel)]="pattern"
    [showCancelButton]="shouldShowCancel"
    [formControl]="searchControl"
    (ionInput)="onSearchInput()">
  </ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>  
  <!-- <ion-navbar>
    <ion-buttons start="">
      <button color="danger" icon-only="" ion-button="" class="disable-hover bar-button bar-button-default "><span class="button-inner">
        <ion-icon name="search" role="img" class="icon"></ion-icon>
      </span><div class="button-effect"></div></button>
    </ion-buttons>
     <ion-input type="search" placeholder="search.."></ion-input> 
  </ion-navbar> -->

  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
   <ion-fab bottom right>
    <button ion-fab color="orange1" mini (click)="scrollToTop()" ><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab> 

  <ion-list>
    <ng-container *ngFor="let m of messages; let idx = index;">
      <ion-item-divider *ngIf="idx == 0 || !isSameDate(messages[idx - 1].occurDT, m.occurDT)"><div class="date-divider">{{getDateString(m.occurDT)}}</div></ion-item-divider>        
      <message [msg]="m" [navCtrl]="navCtrl" ></message>
    </ng-container>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">+
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
