<ion-card>
    <ion-item text-wrap>
      <h2>Alarm ID:</h2>
      <p>{{msg.alarmID}}</p>
    </ion-item>
    <ion-item text-wrap>
        <h2>Alarm Type:</h2>
        <p>{{msg.alarmType}}</p>
    </ion-item>
    <ion-item text-wrap>
        <h2>ALARM Equipment:</h2>
        <p>{{msg.eqptID}}</p>
    </ion-item>
    <ion-item text-wrap>
        <h2>Alarm DATE:</h2>
        <p>{{occurDT | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    </ion-item>
    <ion-item text-wrap>
        <h2>Message:</h2>
        <p>{{msg.description}}</p>
    </ion-item>
</ion-card>