<ion-header>

  <!--<ion-navbar>
    <ion-title>{{category}}未訂閱清單</ion-title>
  </ion-navbar>-->


  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="gotoConfig()" >訂閱
        <!--<ion-icon name="checkmark"></ion-icon>-->
      </button>
      <!--</ion-buttons><ion-title>Message</ion-title>-->
    </ion-buttons><ion-title>{{alarmtype}}未訂閱清單</ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="pattern"
    [showCancelButton]="shouldShowCancel"
    [formControl]="searchControl"
    (keyup)="onSearchInput()">
  </ion-searchbar>
   <!-- <ion-searchbar
    [(ngModel)]="pattern"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar> -->
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  
  <ion-fab bottom right>
      <button ion-fab color="orange1" mini (click)="scrollToTop()" ><ion-icon name="arrow-up"></ion-icon></button>
    </ion-fab> 
  <ion-list>
      <nosubscription *ngFor="let nosubscription of nosubscriptions" [nosubscription]="nosubscription" ></nosubscription>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
